@media (max-width: 1200px) {
    .main__wrap {
        width: 52%;
        max-width: 542px;
        padding-top: 36px;
    }

    .main__title {
        font-size: 5vw;
        font-weight: 400;
    }


    .btns__wrap {
        width: 60%;
        max-width: 542px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }

    .btns {
        font-size: 1.2vw;
    }
    .pipl__wrap_mobail{
        display: none;
    }

}

@media (max-width: 900px) {
    .main__title {
        font-size: 5vw;
        font-weight: 400;
    }

}

@media (max-width: 700px) {
    .main__title {
        font-size: 5vw;
        font-weight: 400;
    }

    .main__wrap {
        width: 50%;
        max-width: 542px;
        padding-top: 36px;
    }

    .btns__wrap {
        width: 50%;
        max-width: 542px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        flex-direction: column;
    }

    .btns__wrap a {
        width: 100%;
    }

    .main__subtitle {
        font-size: 2vw;
        padding: 10px 24px;
    }
}

@media (max-width: 550px) {
    .hero {
        background-image: url(./img/main_screen.png);
        height: 900px;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .main__wrap {
        width: 100%;
        padding-top: 36px;
    }

    .main__title {
        font-size: 10vw;
        font-weight: 400;
    }

    .btns__wrap {
        width: 100%;
        max-width: 542px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }

    .main__subtitle
    {
        font-size: 4vw;
        padding: 10px 24px;
      }

    .btn {
        padding: 18px 43px;
        font-size: 14px;
        display: block;
        width: 100%;
        border: none;
    }

    .btn__light {
        background-color: #FFF;
    }
    .pipl__image>img{
        width: 100%;
    }
}

@media (max-width: 380px) {
    .container {
        width: 100%;
        padding: 0 10px;
        max-width: 1222px;
        margin: 0 auto;
    }
    .hero {
        background-image: url(./img/main_screen.png);
        height: 900px;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .main__wrap {
        width: 100%;
        padding-top: 36px;
    }


    .main__title {
        font-size: 10vw;
    }

    .btns__wrap {
        width: 100%;
        flex-direction: column;
    }

    .btn {
        padding: 18px 43px;
        font-size: 14px;
        display: block;
        width: 100%;
        border: none;
    }

    .btn__light {
        background-color: #FFF;
    }

    .line-text {
        white-space: nowrap;
        width: 220%;
        font-size: 22px;
        line-height: 60px;
        text-align: center;
        display: flex;
        background: var(--color-actent);
        justify-content: space-around;
        align-items: center;
        color: var(--color-light);
        text-transform: uppercase;
        font-weight: 400;
    }
    .pipl__text-info {
        font-size: 28px;
        font-weight: 400;
        font-family: 'Merriweather', serif;
    }

    @keyframes animate-first-screen {
        0% {
            transform: translateX(80%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes animate-first-screen {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-200%);
        }
    }
    .pipl {
        margin: 48px 0 34px 0;
    }
    .pipl__wrap{
        display: none;
    }
    .pipl__wrap_mobail{
        display: block;
    }
    .promo-staticGame-img{
        width: 100%;
    }
    .pipl__image_mobail>img{
        width: 100%;
        margin: 24px 0;
    }
    .promo-staticGame-title{
        font-size: 28px;
    }
    .promo-staticGame-list {
        margin-top: 48px;
    }
    .stepUpgrade {
        margin-top: 120px;
    }
    .stepUpgrade__wrap>h2{
        font-size: 36px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .stepUpgrade__wrap>span{
        color: #3057A2;
        margin-top: 12px;
        font-size: 18px;
    }
}